.title{
    font-size: 2rem;
    text-align: center;
}

.mainDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 2rem
}

.mobMainDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
    margin-bottom: 3rem;
}

.image {
    max-width: 350px;
}

@media screen and (max-width: 700px) {
    .image {
        max-width: 200px;
    }
    .mainDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        gap: 1rem;
        margin-bottom: 3rem;
    }
}   


.resultsMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.resultList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;


}